# Server running port
SERVER_PORT = 80

# To get error message through email (optional)
TO_EMAIL = "balapradeepbala@gmail.com"

# Printful api token
PRINTFUL_PRIVATE_TOKEN = "enqNKad80YufolET9Hphm0NSITpDnEJRMP5P1Zyf"

# Vectorization api secret & token 
VECTORIZER_SECRET = 'tdl59qi99opv83aseca9kp1s7sq24el4pprf00qnr86h2rvs4fpv'
VECTORIZER_PRIVATE_TOKEN = 'vkm8bd6epqekkpa'

# OpenAI key
OPENAI_KEY = "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"
# OPENAI_KEY_BACKUP = "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"

# Mongo DB connection string
MONGO_URL = 'mongodb+srv://drop_admin:redgreenblue@drophousecluster.xgfbxeg.mongodb.net/?retryWrites=true&w=majority'

# Aws - s3 bucket to generate presign url & upload image to bucket
AWS_ACCESS_KEY_ID="AKIAZB56DPFBSV7OUWEN"
AWS_SECRET_ACCESS_KEY="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"

# Email service key
SENDGRID_API_KEY="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"

# Database - connection
DB_ENV = "dev"

# Session secret
SESSION_SECRET = "racetreeglassmouseflannel"

# JWT key
JWT_SECRET_KEY = "o8zuIW_9B9bL6D5dR2Ol64NBGKlKUdizkknj2otd8cI="